.Destinations_title{
    color: #402E32;
    font-size: 32px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 32px;
    word-wrap: break-word;
    margin-top: 32px;
    margin-left: 80px;
    margin-bottom: 32px;
}
.Destinations{
    display: flex;
    justify-content: space-between;
    margin-left: 80px;
    margin-right: 80px;
    
}
.image{
    position: relative; 
    width: 296px;
    height: 296px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    overflow: hidden;
}
.pic1{
    width: 296px;
    height: 296px;
    position: absolute;
    border-radius: 8px;
}
.pic2{
    width: 320px;
    height: 320px;
    margin-left: -10px;
    margin-top: -10px;
    position: absolute;
    border-radius: 8px;
}
.heart{
    width: 28px;
    height: 28px;
    position: absolute;
    margin-left: 252px;
    margin-top: 16px;
    background-color: transparent;
    color: #FFF7F1;

}

.subtitle{
    margin-top: 16px;
    color: #402E32;
    font-size: 24px;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 20px;
    word-wrap: break-word;
}
.About,
.days{
    color: #402E32;
    margin-top: 8px;
    opacity: 0.70;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 20px;
    word-wrap: break-word;
}
.days{
    margin-top: 0px;
}
.Charge{
    color: #402E32;
    margin-top: 8px;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 20px;
    font-family: 'Playfair Display';
    word-wrap: break-word;
}

.rating{
    color: #B1886A;
    font-size: 16px;
    margin-left: 238px;
    margin-top: -100px;
    text-align: center;
    font-family: 'Playfair Display';
    font-weight: 400;
    line-height: 16px;
    word-wrap: break-word;
}
.View-details{
    margin-left: 210px;
    margin-top: 64px;
    text-decoration: none;
    position: absolute;
    color: #402E32;
    font-size: 16px;
    font-family: 'Playfair Display';
    font-weight: 400;
    line-height: 16px;
    word-wrap: break-word;
}